/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    /*float: left;*/
    color: #999;
}

/* Displaying products*/
.product {
    display: inline-table;
    vertical-align: top;
    width: 200px;
    height: 315px; /* controls the space of the .name div*/
    margin: 10px;
    border: 1px solid;
    background: #fff;
    border-radius: 20px;
}
.image,.name,.brand,.price {
    /*display: table-row;*/
    text-align: center;
    padding: 10px;
}
/*.product span {
    display: block;
    padding: 4px;
}*/

.image {
    height: 200px;
    text-align: center;
    word-spacing: -1em;
}
.image::before,
.image img {
    display: inline-block;
    vertical-align: middle; /* or 'top' or 'bottom' */
}
.image::before {
    content:"";
    height: 200px;
    width: 0;
}
.image img {
    margin: 0 auto;
    background: lime;
    word-spacing: normal; /* reset for img alt text */
}

img.sml {width: 140px; height: 140px} /*testing with mixed img sizes*/
img.med {width: 160px; height: 160px}
img.lrg {width: 180px; height: 180px}

.name { /*allows for wrapping text without a table min-height*/
    background: wheat;
}
.name span {
    padding: 10px 5px 5px;
    font-weight: 700;
}
.brand, .price {
    height: 1px;
}
.price span {
    padding: 4px;
    background: yellow;
}
.carousel-inner{
    padding: 20px;
}

.flex-container{
    display: flex;
}